<!-- array-display.component.html -->
<div>
  <h2>Array Display</h2>

  <input type="range" [(ngModel)]="speed" min="50" max="1000"/>
  <input type="range" [class.disable]="isSorting" [(ngModel)]="size" (input)="generateArray()" min="5" max="25"/>

  <div class="div-button" [class.disable]="isSorting" (click)="sort('selection-sort')">Selection Sort</div>
  <div class="div-button" [class.disable]="isSorting" (click)="sort('bubble-sort')">Bubble Sort</div>

  <div
    class="div-button"
    [class.disable]="isSorting"
    (click)="generateArray()"
    >
    Regenerate
  </div>
  <div class="bar-container">
    <div
      *ngFor="let item of myArray"
      class="bar"
      [style.background-color]="item.color"
      [style.height.px]="item.value"
    >
      {{ item.value }}
    </div>
  </div>
</div>
