

.bar {
    margin: 1px;
    padding: 1px;
    color: white;
    font-size: 14px;
    text-align: center;
    width: -webkit-fill-available;
    max-width: 10%;
    float: 1;
    border-bottom-right-radius: .5rem!important;
    border-bottom-left-radius: .5rem!important;
}

.bar-container {
    display: flex;
    justify-content: center;
}

.disable {
    pointer-events: none;
    color: red;

}

.sort-button {
    cursor: pointer;
    user-select: none;
}


.div-button {
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
  }
